/*----------------- CSS RESET ------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: black;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----------------- CSS RESET ------------------*/

html, body {
	background-color: #f9f9f9;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	height:100%;
}

header {
	background-color: #1abc9c;
	box-shadow: 0 2px 6px 1px #a7a7a7;
	color: #ecf0f1;
	height: 5rem;
}

footer {
	background-color: #00BFFF;
	bottom: 0;
	color: #ecf0f1;
	height: 8rem;
	margin-top: 5em;
	text-align: center;
	width: 100%;
}

footer p {
	height: 7rem;
	line-height: 7rem;
}

h1, h3 {
	padding: 4px;
}

h1 {
	font-size: 2rem;
	font-weight: bold;
}

h3 {
	font-size: 1.4rem;
}

a {
	text-decoration: none;
}

input[type="text"], input[type="range"] {
	border: 1px solid #bdc3c7;
	border-radius: 2px;
	vertical-align: middle;
	-webkit-appearance: none;
}

input[type=range]{
		background-color: #00bf6f;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
    border: none;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    background: #00BFFF;
    margin-top: -.5rem;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #ccc;
    height: .2rem;
}

.action-button {
	background-color: #00BFFF;
	border: none;
	border-bottom: 3px solid #00BFFF;
	border-radius: 2px;
	color: #ecf0f1;
	display: inline-block;
	font-size: 1rem;
	font-weight: bold;
	padding: 4px;
}

.action-button:hover {
	background-color: grey;
}

#site-title-wrapper {
	display: inline-block;
	height: auto;
	width: 100%;
}

#site-title {
	display: inline-block;
	color: #00BFFF;
	font-weight: bold;
	height: 2rem;
	line-height: 2rem;
}

#groupname {
	color: grey;
}

.already_input {
	color: grey;
}

#logout {
	display: inline-block;
	height: 2rem;
	line-height: 2rem;
	padding-right: 5px;
	text-decoration: underline;
}

#logout-button {
	background-color: #00bf6f;
	border-bottom-color: #bdc3c7;
	height: 2.5rem;
	width: 5rem;
}

#logout-button:hover {
	background-color: grey;
}

#content {
	margin-top: 2rem;
	text-align: center;
	width: 100%;
}

.main-container {
	background: #ecf0f1;
	border-radius: 4px;
	box-shadow: 0px 2px 10px 2px #95a5a6;
	padding-top: 10px;
	display: inline-block;
	min-height: 20vh;
	padding: 1rem;
	max-width: 450px;
	text-align: center;
	margin-top: 20px;
}

.survey-item, .result-item {
	box-sizing: border-box;
	display: block;
	margin: 1.5rem 0;
	padding: 4px;
}



#goHome {
	height: 2rem;
	line-height: 2rem;
	margin-left: 1rem;
	text-align: center;
}

.sm-label {
	font-size: 13px;
	font-weight: 1000;
	color: #333E48;
	display: inline-block;
}

.sm-input {
	display: inline-block;
	border: 1px solid #D0D2D3;
	font-size: 15px;
	color: #00BFFF;
	border-radius: 2px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #fff;
	padding: 8px 12px;
	line-height: 1.4;
}

.resultstable, td, tr, th {
	text-align: center;
	border: 1px solid black;
	vertical-align: middle;
	font-size: 18px;
	object-fit: contain;
	object-position: right top;
}

.results img {
	width: 200px;
  	height: 200px;
}

.resultimage td {
	height: 200px;
}

.resultimage img {
	max-width: auto;
  	max-height: 100%;
  	object-fit: cover;
}

th {
	font-weight: bold;
	background-color: #00BFFF;
	padding: 5px;
}

#restart {
	font-weight: bold;
	color: red;
}


#feedback { 
	font-size: 1em; 
}

#login_table { 
	text-align: center;
	padding: 5px;
}

#login_table td, #login_table tr { 
	text-align: center;
	padding: 5px;
	border: 0;
}

#selectable .ui-selecting { 
	background: #A9A9A9; 
}

#selectable .ui-selected { 
	background: #00BFFF; color: white; 
}

#selectable { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
}

#selectable div { 
	margin: 3px;
	padding-top: 20px;
	padding-bottom: 20px;
	display: inline-block; 
	width: 130px;
	height: 20px;
	font-size: 1em; 
	text-align: center; 
	vertical-align: middle;
	background-color: #FFFFFF;
}



.emphasis {
	font-weight: bold;
	display: inline;
}

.center-container {
	text-align: center;

}

#preferences_selector {
	display: inline-block; 
	padding-top: 1em;
	padding-bottom: 1em;
}

#preferences_selector tr {
	border: 0;
}

#preferences_selector td {
	border: 0;
}

.unit_label {
	width: 100px;
}

#get_started {
	text-align: left;
	background-color: #00BFFF;
	padding: 10px;
}

#url_share {
	text-align: center;
}

#myInput {
	margin: 3px;
}

#instructions {
	width: 346px;
	display: inline-block;
	text-align: center;
	margin-bottom: 5px;
}

#results_count {
	display: inline;
	font-weight: bold;
}

#yourpreferences td {
	padding: 3px;
}

#yourpreferences {
	margin-bottom: 10px;
}

#leftheader {
	display: inline-block;
	float: left;
}

#rightheader {
	display: inline-block;
	float: right;	
	text-align: right;
	margin-top: 10px;
}

.table {
	display: inline-block;
}

.resultstable {
    table-layout: fixed;
    display: inline-block;
    margin-top: 10px;
    padding: 3px;
}



.emoji {
	width: 12px;
	height: 12px;
	padding-top: 2px;
}

#copyicon {
	-webkit-appearance: none;
	width: 12px;
	height: 12px;
}

#copy_button {
	-webkit-appearance: none;
	background-color: #FFFFFF;
	border: 1px solid grey;
}

#how_to {
	text-align: center;
	font-weight: bold;
}

#logged_in_as {
	display: inline;
	padding-right: 5px;
	text-align: right;
}

p.results {
	font-weight: bold;
	width: auto;
	display: inline-block;
	padding: 5px;
	text-decoration: underline;
}

.hidden {
    display: none;
}

#zero {
	font-size: 16px;
	margin-top: 10px;
	font-weight: bold;
}

.namecolumn {
	text-decoration: underline;
	font-weight: bold;
	padding: 3px;
}

