<!-- 1. extend from base-->
{% extends "base.html" %}
{{ super() }}

{% block title %}
	Login
{% endblock %}


{% block content %}
<!-- One-off, no stylesheet since this is just for the Logout button and Log-in status.  -->
<style>
#logout, #logged_in_as {
    display: none;
}
</style>

<div class="container">
<h1>Welcome to Where2Eat!</h1>
<h2>We make easy for groups to decide on restaurants.</h2><br>

<div id="instructions">
	<div id="get_started">
	<center><p id="how_to">How to get started</p></center><br>
	<p>1. Share this link with your friends:</p>
	
	<div id="url_share">

		<input type="text" id="myInput" value="{{ urlshare }}" size="22"/>
		<button onclick="copy('myInput')">Copy text <img src ="/static/images/copyicon.png" id="copyicon"></button>
	</div>

	<p>2. Enter your name{{ group_decision_required }} and vote for your preferences.</p>
	<p>3. After everyone votes, see what the group wants!</p>
	<br>
	<p>{{ group_count_status }}	{{ group_voting_status }}</p>
		<div class= {{ hidden }} ><a href= {{ groupname }}/results id="results">Click here to see your group's results!</a></div>
	</div>
</div>
<br>
<div class="main-container">

	<!-- 3. needs to modify the form attributes here -->
	<form action = "/preferences" method = "POST"> 
		<!-- 4. add some input/labels here -->
		<center><table id="login_table">
			<tbody>
				<tr>
					<td>Your group ID is:</td>
					<td><input type="text" id="groupname" name="groupname" value= {{ groupname }} readonly></td>
				</tr>
				<tr>
					<td>Enter your name:</td>
					<td><input type="text" id="name" name="name" required></td>
				</tr>
				<tr>
					<td>Your dining city:</td>
					<td><input type="text" id="city" name="city" required value = "{{ group_city }}" {{ readonly }} {{ already_input }}></td>
				</tr>
				<tr>
					<td>Your dining state:</td>
					<td><input type="text" id="city" name="state" maxlength="2" required value = "{{ group_state }}" {{ readonly }} {{ already_input }}></td>
				</tr>
			</tbody>
		</table>
		<br>
		<input class="action-button" id="login" type="submit" value="Get started!"></input>
	</form>

<br><br>

</div>
</div>
{% endblock %}